<p>
  <strong>Commenter:</strong>
  <% @user = User.find(comment.user_id)%>
  <%= @user.profile.first_name %>
  <%= @user.profile.last_name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.comment %>
</p>
