<%= form_tag(user_path, method: :get) do %>
    <div>
        <%= label_tag :first_name, "First Name" %>
        <%= label_tag :arrival_airport, "Last Name" %>
    </div>
    <div>
    <%= submit_tag "Search" %>
    </div>
<% end %>