<h1>Editing Profile</h1>

<%= render "form", post: @user %>

<div class="my-3">
  <%= link_to "Go Back to Profile", @user %>
</div>
<br>

<h2>Edit email/password: </h2>
<%= link_to 'Edit email/password', edit_user_registration_path, :class => 'navbar-link' %> 
